<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>CSB Chat</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <h2>CSB Chat!</h2>
    <p>Logged in as: {{username}}</p>
    <p>Received messages:</p>
    <ul>
        {% for msg in received %}
        <!-- FIX FOR XSS: Simply remove "|safe" from the attribute and Django will auto-escape the string, preventing XSS -->
        <li>{{msg.sender.username}}: {{msg.content|safe}}</li>
        {% endfor %}
    </ul>
    <form action="/search/" method="POST">
        {% csrf_token %}
        <p>Search received messages: <input name="searchstring"> <input type="submit" value="Search"/></p>
        
    </form>
    <p>Compose new message:</p>
    <!-- FIX FOR CSRF: Change request method to POST:

        <form action="/send/" method="POST">

        and change business logic in views.py to match -->
    <form action="/send/" method="GET">
        {% csrf_token %}
        <span>To:</span>
        <select name="to">
            {% for recipient in recipients %}
                <option value="{{recipient.username}}">{{recipient.username}}</option>
            {% endfor %}
        </select><br/>
        <span>Message:</span><br/>
        <textarea name="content" rows="4" cols="50"></textarea><br/>
        <input type="submit" value="Send"/>
    </form>
    <p>Sent messages:</p>
    <ul>
        {% for msg in sent %}
        <!-- FIX FOR XSS: Simply remove "|safe" from the attribute and Django will auto-escape the string, preventing XSS -->
        <li>To {{msg.receiver.username}}: {{msg.content|safe}}</li>
        {% endfor %}
    </ul>
</body>
</html>